body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.app-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 90%;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #6200ea;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.btn {
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4e00b6;
}

.prompt-response {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

@media (max-width: 600px) {
  .input-container {
    flex-direction: column;
    align-items: center;
  }

  .button-container {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
  }
}

.toast-success {
  background-color: #f4f2f8 !important;
  color: #000;
}

.toast-error {
  background-color: #fff !important;
  color: #000;
}

.Toastify__progress-bar--success {
  background: #6200ea !important;
}
.Toastify__progress-bar--warning {
  background: red !important;
}
